html,
body,
#leafletMapid{
  height:100%;
  width: 100%;
}

.popupMod{
   display: inline-block;
   padding: 5px 15px;
}
a.popupMod{
   border-bottom: none;
   text-decoration: none;
}
a.popupMod:hover{
   color: #0078A8;
   text-decoration: underline;
   cursor: pointer;
}
