/* Load Fonts */
@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Josefin+Slab|Merriweather|Oswald|Roboto+Slab&display=swap");
html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: "Merriweather", Helvetica, sans-serif;
  color: #022933;
  background-color: #EEE8D6; }

.container {
  width: 80%;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bree Serif", Helvetica, sans-serif;
  color: #D14348; }

.btn-default, .btn-hot, .btn-cool {
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: "Bree Serif", Helvetica, sans-serif;
  user-select: none;
  color: #EEE8D6; }

.btn-default {
  background: black; }

.btn-hot {
  background: #D14348; }

.btn-cool {
  background: #0076A3; }

.grid:before, .grid:after {
  content: " ";
  display: table; }

.grid:after {
  clear: both; }

.grid .item {
  float: left;
  width: 24.25%; }
  .grid .item:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%; }
  .grid .item:nth-child(4n) {
    margin-bottom: 0;
    margin-right: 0; }
  .grid .item img {
    display: block;
    border-radius: 20px;
    max-width: 100%; }

.background {
  color: #EEE8D6;
  margin: 20px 0;
  width: 100%;
  display: table; }
  .background .container {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 20px; }
    .background .container h1 {
      color: #FFBA00;
      font-family: "Merriweather", Helvetica, sans-serif;
      font-size: 5rem;
      line-height: 105%;
      margin-bottom: 0;
      padding: 0 10%; }
    .background .container p {
      padding: 0 10%;
      margin-top: 0; }

.jumbotron {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../images/water.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 600px; }

.bridge {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../images/bridge.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px; }

.media {
  margin: 0;
  padding: 0;
  list-style: none; }
  .media .item {
    border-top: 1px dotted #D14348;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px; }
    .media .item:hover {
      background-color: #FFBA00; }
    .media .item:last-of-type {
      border-bottom: 1px dotted #D14348; }
    .media .item:before, .media .item:after {
      content: " ";
      display: table; }
    .media .item:after {
      clear: both; }
  .media .head {
    margin: 0;
    padding: 0;
    color: #0076A3;
    font-size: 2rem; }
    #typography .media .head {
      color: #D14348; }
  .media p {
    margin: 0;
    font-size: 1.5rem; }
  .media img {
    float: left;
    margin-right: 10px; }
  .media a {
    text-decoration: none;
    color: #022933; }

.table {
  font-size: 1.5rem;
  text-align: left;
  width: 100%; }
  .table caption {
    font-size: 2.5rem;
    text-align: left;
    padding-bottom: 5px; }
  .table > thead > tr:hover,
  .table > tbody > tr:hover,
  .table > tfoot > tr:hover {
    background-color: #dfc5b2; }
  .table > thead > tr:nth-child(even),
  .table > tbody > tr:nth-child(even),
  .table > tfoot > tr:nth-child(even) {
    background-color: rgba(255, 186, 0, 0.2); }
    .table > thead > tr:nth-child(even):hover,
    .table > tbody > tr:nth-child(even):hover,
    .table > tfoot > tr:nth-child(even):hover {
      background-color: rgba(255, 186, 0, 0.5); }
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    padding: 10px;
    border-bottom: 1px dotted #0076A3; }
  .table > thead > tr {
    background-color: #0076A3;
    color: #EEE8D6; }
    .table > thead > tr:hover {
      background-color: #a32d00; }
    .table > thead > tr > th {
      border-bottom: none; }

nav .container {
  padding: 0; }

header nav {
  background-color: #003f57; }

nav .branding {
  float: left; }

nav .branding h1 {
  font-size: 2.75rem;
  overflow: hidden;
  margin: 0;
  color: #FFBA00; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  nav ul:before, nav ul:after {
    content: " ";
    display: table; }
  nav ul:after {
    clear: both; }

nav ul li {
  float: right;
  padding: 10px 5px; }

nav ul li a {
  text-decoration: none;
  padding: 10px 5px;
  color: #EEE8D6; }
