@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);
html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: Merriweather, Helvetica, sans-serif;
  color: #022933;
  background-color: #EEE8D6; }

.container {
  width: 80%;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bree Serif", Helvetica, sans-serif;
  color: #0076A3, #6D73C2, #548C27, #D14348, #F39856, #FFBA00; }

h1 {
  color: #0076A3; }

h2 {
  color: #6D73C2; }

h3 {
  color: #548C27; }

h4 {
  color: #D14348; }

h5 {
  color: #F39856; }

h6 {
  color: #FFBA00; }

.btn-default, .btn-hot, .btn-cool, .btn-awesome {
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: "Bree Serif", Helvetica, sans-serif;
  user-select: none;
  color: #EEE8D6; }

.btn-default {
  background-color: #022933; }

.btn-hot {
  background-color: #D14348; }

.btn-cool {
  background-color: #0076A3; }

.btn-awesome {
  background-color: #6D73C2; }

.grid:before, .grid:after {
  content: '';
  display: table; }

.grid:after {
  clear: both; }

.grid .item {
  float: left;
  width: 32%; }
  .grid .item:nth-child(n) {
    margin-right: 2%;
    margin-bottom: 2%; }
  .grid .item:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0; }

.grid img {
  display: block;
  border-radius: 20px;
  max-width: 100%; }

.background {
  color: #EEE8D6;
  margin: 20px 0;
  width: 100%;
  display: table; }
  .background .container {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 20px; }
    .background .container h1 {
      color: #FFBA00;
      font-family: Merriweather, Helvetica, sans-serif;
      font-size: 5rem;
      line-height: 105%;
      margin-bottom: 0;
      padding: 0 10%; }
    .background .container p {
      padding: 0 10%;
      margin-top: 0; }

.jumbotron {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../images/water.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 600px;
  margin-top: 0; }

.bridge {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../images/bridge.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px; }

.media {
  margin: 0;
  padding: 0;
  list-style: none; }
  .media .item {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-top: 1px dotted #D14348; }
    .media .item:hover {
      background: #FFBA00; }
    .media .item:last-of-type {
      border-bottom: 1px dotted #D14348; }
    .media .item:before, .media .item:after {
      content: '';
      display: table; }
    .media .item:after {
      clear: both; }
  .media .head {
    margin: 0;
    padding: 0;
    color: #0076A3;
    font-size: 2rem; }
    #typography .media .head {
      color: #D14348; }
  .media p {
    margin: 0;
    font-size: 1.5rem; }
  .media img {
    float: left;
    margin-right: 10px; }
  .media a {
    text-decoration: none;
    color: #022933; }

.table {
  font-size: 1.5rem;
  text-align: left;
  width: 100%; }
  .table caption {
    font-size: 2.5rem;
    text-align: left;
    padding-bottom: 5px; }
  .table > thead > tr:hover,
  .table > tbody > tr:hover,
  .table > tfoot > tr:hover {
    background-color: #dfc5b2; }
  .table > thead > tr:nth-child(even),
  .table > tbody > tr:nth-child(even),
  .table > tfoot > tr:nth-child(even) {
    background-color: rgba(255, 186, 0, 0.2); }
    .table > thead > tr:nth-child(even):hover,
    .table > tbody > tr:nth-child(even):hover,
    .table > tfoot > tr:nth-child(even):hover {
      background-color: rgba(255, 186, 0, 0.5); }
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    padding: 10px;
    border-bottom: 1px dotted #0076A3; }
  .table > thead > tr {
    background-color: #0076A3;
    color: #EEE8D6; }
    .table > thead > tr:hover {
      background-color: #a32d00; }
    .table > thead > tr > th {
      border-bottom: 0; }

header nav {
  background-color: #003f57; }

nav .branding {
  float: left;
  display: none; }
  @media (min-width: 1000px) {
    nav .branding {
      display: block; } }

nav .branding h1 {
  font-size: 2.75rem;
  overflow: hidden;
  margin: 0;
  color: #FFBA00; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  nav ul:before, nav ul:after {
    content: '';
    display: table; }
  nav ul:after {
    clear: both; }

nav ul li {
  padding: 10px 5px; }
  @media (min-width: 760px) {
    nav ul li {
      float: right; } }

nav ul li a {
  text-decoration: none;
  padding: 10px 5px;
  color: #EEE8D6; }
  nav ul li a:hover {
    color: #FFBA00; }
  header nav ul li a:hover {
    background-color: #002c3d; }
  footer nav ul li a {
    color: white; }

footer nav {
  margin-top: 20px;
  min-height: 200px;
  background-color: #003f57; }
  @media (min-width: 0) and (max-width: 500px) {
    footer nav {
      display: none; } }
