body {
	margin: 0;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

td,
th {
	padding: 15px;
	border: 1px solid grey;
}

th {
	background-color: lightgray;
}
