html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#viewDiv {
  position: relative;
}

#custom-control-top-left {
  position: absolute;
  top: 15px;
  left: 300px;
}

.esri-component {
  border: 1px solid grey;
}

.esri-ui-corner .esri-expand .esri-widget--panel, .esri-ui-corner .esri-expand .esri-widget--panel-height-only, .esri-ui-corner .esri-component>.esri-widget--panel, .esri-ui-corner .esri-component.esri-widget--panel {
  width: 200px;
}
